/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    border-bottom: 1px solid #bdc3c7;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .user-info {
    font-size: 14px;
  }
  