/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  background-color: #49502c;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}
